# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/htmldemo/pyq.html
src/htmldemo/pyq2.html
src/htmldemo/pyq3.html
src/htmldemo/pyq4.html
src/htmldemo/pyq5.html
src/htmldemo/pyq6.html
